@media print {
  html,
  body {
    height: initial !important;
    overflow: initial !important;
  }
}

.printButton {
  background-color: rgb(40, 150, 40);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: "pointer";
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .parent-container {
    overflow-y: scroll;
    max-height: 100vh;
  }
}
